In [73]:
import pandas as pd
import re
from datetime import datetime
import sqlite3
import os

# I. Import and Overview the Dataset

In [74]:
# Function to read a CSV file, inspect, and return a DataFrame copy
def read_and_inspect_csv(file_path):
    # Read the CSV file into a DataFrame
    df_original = pd.read_csv(file_path)

    # Create a copy of the DataFrame
    df_copy = df_original.copy()

    # Print some details about the DataFrame for quick inspection
    print(f"\nInspection results for {file_path.split('/')[-1]}:")
    print(df_copy.head(10))  # First 10 rows
    print("*"*30)
    print("\nInfo:")
    df_copy.info()
    print("*"*30)
    print("\nStatistics:")
    print(df_copy.describe())
    print("*"*30)
    print("\nNumber of duplicates:")
    print(df_copy.duplicated().sum())

    # Return the copied DataFrame for further use
    return df_copy

In [75]:
df_customer = read_and_inspect_csv(r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\customer.csv")

Inspection results for D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\customer.csv:
   customer_id  home_store customer_first-name        customer_email  \
0            1           3           Kelly Key  Venus@adipiscing.edu
1            2           3     Clark Schroeder        Nora@fames.gov
2            3           3      Elvis Cardenas    Brianna@tellus.edu
3            4           3        Rafael Estes           Ina@non.gov
4            5           3          Colin Lynn      Dale@Integer.com
5            6           3          Igor Beach       Caleb@morbi.net
6            7           3        Scott Holden       Yen@Integer.edu
7            8           3        Keegan Ayala       Tana@sociis.com
8            9           3          Amir Byers  Madeson@malesuada.us
9           10           3        Magee Malone    Anjolie@sapien.gov

  customer_since loyalty_card_number   birthdate gender  birth_year
0     2017-01-04        908-424-2890  1950-05-29      M        1950
1     2017-01-07        032-732-6308  1950-07-30      M        1950
2     2017-01-10        459-375-9187  1950-09-30      M        1950
3     2017-01-13        576-640-9226  1950-12-01      M        1950
4     2017-01-15        344-674-6569  1951-02-01      M        1951
5     2017-01-18        114-126-1992  1951-04-04      M        1951
6     2017-01-21        384-074-3606  1951-06-05      M        1951
7     2017-01-24        257-308-7675  1951-08-07      M        1951
8     2017-01-26        931-925-0273  1951-10-08      M        1951
9     2017-01-29        359-150-6747  1951-12-09      M        1951
******************************

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2246 entries, 0 to 2245
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          2246 non-null   int64
 1   home_store           2246 non-null   int64
 2   customer_first-name  2246 non-null   object
 3   customer_email       2246 non-null   object
 4   customer_since       2246 non-null   object
 5   loyalty_card_number  2246 non-null   object
 6   birthdate            2246 non-null   object
 7   gender               2246 non-null   object
 8   birth_year           2246 non-null   int64
dtypes: int64(3), object(6)
memory usage: 158.1+ KB
******************************

Statistics:
       customer_id   home_store   birth_year
count  2246.000000  2246.000000  2246.000000
mean   4285.902048     4.956812  1978.385574
std    3088.088265     1.852562    14.925503
min       1.000000     3.000000  1950.000000
25%     562.250000     3.000000  1965.000000
50%    5323.500000     5.000000  1981.000000
75%    5884.750000     5.000000  1991.000000
max    8501.000000     8.000000  2001.000000
******************************

Number of duplicates:
0

In [76]:
df_dates = read_and_inspect_csv(r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\Dates.csv")

Inspection results for D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\Dates.csv:
  transaction_date   Date_ID  Week_ID Week_Desc  Month_ID Month_Name  \
0         4/1/2019  20190401       14   Week 14         4      April
1         4/2/2019  20190402       14   Week 14         4      April
2         4/3/2019  20190403       14   Week 14         4      April
3         4/4/2019  20190404       14   Week 14         4      April
4         4/5/2019  20190405       14   Week 14         4      April
5         4/6/2019  20190406       14   Week 14         4      April
6         4/7/2019  20190407       14   Week 14         4      April
7         4/8/2019  20190408       15   Week 15         4      April
8         4/9/2019  20190409       15   Week 15         4      April
9        4/10/2019  20190410       15   Week 15         4      April

   Quarter_ID Quarter_Name  Year_ID
0           2           Q2     2019
1           2           Q2     2019
2           2           Q2     2019
3           2           Q2     2019
4           2           Q2     2019
5           2           Q2     2019
6           2           Q2     2019
7           2           Q2     2019
8           2           Q2     2019
9           2           Q2     2019
******************************

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_date  30 non-null     object
 1   Date_ID           30 non-null     int64
 2   Week_ID           30 non-null     int64
 3   Week_Desc         30 non-null     object
 4   Month_ID          30 non-null     int64
 5   Month_Name        30 non-null     object
 6   Quarter_ID        30 non-null     int64
 7   Quarter_Name      30 non-null     object
 8   Year_ID           30 non-null     int64
dtypes: int64(5), object(4)
memory usage: 2.2+ KB
******************************

Statistics:
            Date_ID    Week_ID  Month_ID  Quarter_ID  Year_ID
count  3.000000e+01  30.000000      30.0        30.0     30.0
mean   2.019042e+07  15.666667       4.0         2.0   2019.0
std    8.803408e+00   1.268541       0.0         0.0      0.0
min    2.019040e+07  14.000000       4.0         2.0   2019.0
25%    2.019041e+07  15.000000       4.0         2.0   2019.0
50%    2.019042e+07  16.000000       4.0         2.0   2019.0
75%    2.019042e+07  17.000000       4.0         2.0   2019.0
max    2.019043e+07  18.000000       4.0         2.0   2019.0
******************************

Number of duplicates:
0

In [77]:
df_generations = read_and_inspect_csv(r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\generations.csv")

Inspection results for D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\generations.csv:
   birth_year    generation
0        1946  Baby Boomers
1        1947  Baby Boomers
2        1948  Baby Boomers
3        1949  Baby Boomers
4        1950  Baby Boomers
5        1951  Baby Boomers
6        1952  Baby Boomers
7        1953  Baby Boomers
8        1954  Baby Boomers
9        1955  Baby Boomers
******************************

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   birth_year  70 non-null     int64
 1   generation  70 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.2+ KB
******************************

Statistics:
        birth_year
count    70.000000
mean   1980.500000
std      20.351085
min    1946.000000
25%    1963.250000
50%    1980.500000
75%    1997.750000
max    2015.000000
******************************

Number of duplicates:
0

In [78]:
df_pastry = read_and_inspect_csv(r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\pastry inventory.csv")

Inspection results for D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\pastry inventory.csv:
   sales_outlet_id transaction_date  product_id  start_of_day  quantity_sold  \
0                3         4/1/2019          69            18              8
1                3         4/1/2019          70            18             12
2                3         4/1/2019          71            18              8
3                3         4/1/2019          72            48              9
4                3         4/1/2019          73            18              9
5                3         4/2/2019          69            18              7
6                3         4/2/2019          70            18             10
7                3         4/2/2019          71            18             10
8                3         4/2/2019          72            48             10
9                3         4/2/2019          73            18              9

   waste % waste
0     10     56%
1      6     33%
2     10     56%
3     39     81%
4      9     50%
5     11     61%
6      8     44%
7      8     44%
8     38     79%
9      9     50%
******************************

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sales_outlet_id   307 non-null    int64
 1   transaction_date  307 non-null    object
 2   product_id        307 non-null    int64
 3   start_of_day      307 non-null    int64
 4   quantity_sold     307 non-null    int64
 5   waste             307 non-null    int64
 6   % waste           307 non-null    object
dtypes: int64(5), object(2)
memory usage: 16.9+ KB
******************************

Statistics:
       sales_outlet_id  product_id  start_of_day  quantity_sold       waste
count       307.000000  307.000000    307.000000     307.000000  307.000000
mean          5.394137   70.983713     24.058632       9.296417   14.657980
std           2.049477    1.417582     12.063414       5.440115   11.202108
min           3.000000   69.000000     18.000000       0.000000    0.000000
25%           3.000000   70.000000     18.000000       6.000000    8.000000
50%           5.000000   71.000000     18.000000       8.000000   11.000000
75%           8.000000   72.000000     18.000000      11.000000   15.000000
max           8.000000   73.000000     48.000000      32.000000   47.000000
******************************

Number of duplicates:
0

In [79]:
df_product = read_and_inspect_csv(r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\product.csv")

Inspection results for D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\product.csv:
   product_id    product_group product_category       product_type  \
0           1  Whole Bean/Teas     Coffee beans      Organic Beans
1           2  Whole Bean/Teas     Coffee beans  House blend Beans
2           3  Whole Bean/Teas     Coffee beans     Espresso Beans
3           4  Whole Bean/Teas     Coffee beans     Espresso Beans
4           5  Whole Bean/Teas     Coffee beans      Gourmet Beans
5           6  Whole Bean/Teas     Coffee beans      Gourmet Beans
6           7  Whole Bean/Teas     Coffee beans      Premium Beans
7           8  Whole Bean/Teas     Coffee beans      Premium Beans
8           9  Whole Bean/Teas     Coffee beans      Organic Beans
9          10  Whole Bean/Teas     Coffee beans        Green beans

                        product  \
0           Brazilian - Organic
1      Our Old Time Diner Blend
2                Espresso Roast
3          Primo Espresso Roast
4        Columbian Medium Roast
5                      Ethiopia
6         Jamacian Coffee River
7                     Civet Cat
8           Organic Decaf Blend
9  Guatemalan Sustainably Grown

                                 product_description unit_of_measure  \
0     It's like Carnival in a cup. Clean and smooth.           12 oz
1  Out packed blend of beans that is reminiscent ...           12 oz
2          Our house blend for a good espresso shot.            1 lb
3   Our primium single source of hand roasted beans.            1 lb
4           A smooth cup of coffee any time of day.             1 lb
5                           From the home of coffee.            1 lb
6         Ya man, it will start your day off right.             1 lb
7  The most expensive coffee in the world, the ca...           .5 lb
8  Our blend of hand picked organic beans that ha...            1 lb
9               Green beans you can roast yourself.             1 lb

   current_wholesale_price current_retail_price tax_exempt_yn promo_yn  \
0                    14.40              $18.00              Y        N
1                    14.40              $18.00              Y        N
2                    11.80              $14.75              Y        N
3                    16.36              $20.45              Y        N
4                    12.00              $15.00              Y        N
5                    16.80              $21.00              Y        N
6                    15.80              $19.75              Y        N
7                    36.00              $45.00              Y        N
8                    18.00              $22.50              Y        N
9                     8.00              $10.00              Y        N

  new_product_yn
0              N
1              N
2              N
3              N
4              N
5              N
6              N
7              N
8              N
9              N
******************************

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   product_id               88 non-null     int64
 1   product_group            88 non-null     object
 2   product_category         88 non-null     object
 3   product_type             88 non-null     object
 4   product                  88 non-null     object
 5   product_description      88 non-null     object
 6   unit_of_measure          88 non-null     object
 7   current_wholesale_price  88 non-null     float64
 8   current_retail_price     88 non-null     object
 9   tax_exempt_yn            88 non-null     object
 10  promo_yn                 88 non-null     object
 11  new_product_yn           88 non-null     object
dtypes: float64(1), int64(1), object(10)
memory usage: 8.4+ KB
******************************

Statistics:
       product_id  current_wholesale_price
count   88.000000                88.000000
mean    44.534091                 3.888409
std     25.605293                 5.649682
min      1.000000                 0.040000
25%     22.750000                 0.630000
50%     44.500000                 1.195000
75%     66.250000                 5.360000
max     89.000000                36.000000
******************************

Number of duplicates:
0

In [80]:
df_sales_targets = read_and_inspect_csv(r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\sales targets.csv")

Inspection results for D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\sales targets.csv:
   sales_outlet_id year_month  beans_goal  beverage_goal  food_goal  \
0                3     Apr-19         720          13500       3420
1                4     Apr-19         720          13500       3420
2                5     Apr-19        1000          18750       4750
3                6     Apr-19         720          13500       3420
4                7     Apr-19         720          13500       3420
5                8     Apr-19         900          16875       4275
6                9     Apr-19         720          13500       3420
7               10     Apr-19         720          13500       3420

   merchandise _goal  total_goal
0                360       18000
1                360       18000
2                500       25000
3                360       18000
4                360       18000
5                450       22500
6                360       18000
7                360       18000
******************************

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sales_outlet_id    8 non-null      int64
 1   year_month         8 non-null      object
 2   beans_goal         8 non-null      int64
 3   beverage_goal      8 non-null      int64
 4   food_goal          8 non-null      int64
 5   merchandise _goal  8 non-null      int64
 6   total_goal         8 non-null      int64
dtypes: int64(6), object(1)
memory usage: 580.0+ bytes
******************************

Statistics:
       sales_outlet_id   beans_goal  beverage_goal    food_goal  \
count          8.00000     8.000000       8.000000     8.000000
mean           6.50000   777.500000   14578.125000  3693.125000
std            2.44949   109.772492    2058.234225   521.419337
min            3.00000   720.000000   13500.000000  3420.000000
25%            4.75000   720.000000   13500.000000  3420.000000
50%            6.50000   720.000000   13500.000000  3420.000000
75%            8.25000   765.000000   14343.750000  3633.750000
max           10.00000  1000.000000   18750.000000  4750.000000

       merchandise _goal  total_goal
count           8.000000      8.0000
mean          388.750000  19437.5000
std            54.886246   2744.3123
min           360.000000  18000.0000
25%           360.000000  18000.0000
50%           360.000000  18000.0000
75%           382.500000  19125.0000
max           500.000000  25000.0000
******************************

Number of duplicates:
0

In [81]:
df_sales_outlet = read_and_inspect_csv(r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\sales_outlet.csv")

Inspection results for D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\sales_outlet.csv:
   sales_outlet_id sales_outlet_type  store_square_feet       store_address  \
0                2         warehouse               3400  164-14 Jamaica Ave
1                3            retail               1300      32-20 Broadway
2                4            retail               1300    604 Union Street
3                5            retail                900   100 Church Street
4                6            retail               1000      122 E Broadway
5                7            retail               1200   224 E 57th Street
6                8            retail               1500      687 9th Avenue
7                9            retail               1700      175 8th Avenue
8               10            retail               1600   183 W 10th Street

         store_city store_state_province store_telephone  store_postal_code  \
0           Jamaica                   NY    972-871-0402              11432
1  Long Island City                   NY    777-718-3190              11106
2          Brooklyn                   NY    619-347-5193              11215
3          New York                   NY    343-212-5151              10007
4          New York                   NY    613-555-4989              10002
5          New York                   NY    287-817-2330              10021
6          New York                   NY    652-212-7020              10036
7          New York                   NY    242-212-0080              10011
8          New York                   NY    674-646-6434              10014

   store_longitude  store_latitude  manager        Neighorhood
0       -73.795168       40.705226      NaN            Jamaica
1       -73.924008       40.761196      6.0            Astoria
2       -73.983984       40.677645     11.0            Gowanus
3       -74.010130       40.713290     16.0    Lower Manhattan
4       -73.992687       40.713852     21.0    Lower East Side
5       -73.960000       40.770000     26.0    Upper East Side
6       -73.990338       40.761887     31.0     Hell's Kitchen
7       -74.000502       40.742760     36.0            Chelsea
8       -74.002722       40.734367     41.0  Greenwich Village
******************************

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sales_outlet_id       9 non-null      int64
 1   sales_outlet_type     9 non-null      object
 2   store_square_feet     9 non-null      int64
 3   store_address         9 non-null      object
 4   store_city            9 non-null      object
 5   store_state_province  9 non-null      object
 6   store_telephone       9 non-null      object
 7   store_postal_code     9 non-null      int64
 8   store_longitude       9 non-null      float64
 9   store_latitude        9 non-null      float64
 10  manager               8 non-null      float64
 11  Neighorhood           9 non-null      object
dtypes: float64(3), int64(3), object(6)
memory usage: 996.0+ bytes
******************************

Statistics:
       sales_outlet_id  store_square_feet  store_postal_code  store_longitude  \
count         9.000000           9.000000           9.000000         9.000000
mean          6.000000        1544.444444       10427.111111       -73.962171
std           2.738613         743.490267         623.535974         0.067975
min           2.000000         900.000000       10002.000000       -74.010130
25%           4.000000        1200.000000       10011.000000       -74.000502
50%           6.000000        1300.000000       10021.000000       -73.990338
75%           8.000000        1600.000000       11106.000000       -73.960000
max          10.000000        3400.000000       11432.000000       -73.795168

       store_latitude    manager
count        9.000000   8.000000
mean        40.731136  23.500000
std          0.030933  12.247449
min         40.677645   6.000000
25%         40.713290  14.750000
50%         40.734367  23.500000
75%         40.761196  32.250000
max         40.770000  41.000000
******************************

Number of duplicates:
0

In [82]:
df_staff = read_and_inspect_csv(r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\staff.csv")

Inspection results for D:\GitHub\UEL-Course\MLBA\final_project\Data\Origin Data\staff.csv:
   staff_id first_name last_name         position  start_date location  \
0         1        Sue   Tindale              CFO    8/3/2001       HQ
1         2        Ian   Tindale              CEO    8/3/2001       HQ
2         3      Marny  Hermione          Roaster  10/24/2007       WH
3         4    Chelsea   Claudia          Roaster    7/3/2003       WH
4         5       Alec   Isadora          Roaster    4/2/2008       WH
5         6       Xena     Rahim    Store Manager   7/24/2016        3
6         7     Kelsey   Cameron  Coffee Wrangler  10/18/2003        3
7         8   Hamilton       Emi  Coffee Wrangler    2/9/2005        3
8         9   Caldwell      Veda  Coffee Wrangler    9/9/2013        3
9        10        Ima  Winifred  Coffee Wrangler  12/10/2016        3

   Unnamed: 6  Unnamed: 7
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN
5         NaN         NaN
6         NaN         NaN
7         NaN         NaN
8         NaN         NaN
9         NaN         NaN
******************************

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   staff_id    55 non-null     int64
 1   first_name  55 non-null     object
 2   last_name   55 non-null     object
 3   position    55 non-null     object
 4   start_date  55 non-null     object
 5   location    55 non-null     object
 6   Unnamed: 6  0 non-null      float64
 7   Unnamed: 7  0 non-null      float64
dtypes: float64(2), int64(1), object(5)
memory usage: 3.6+ KB
******************************

Statistics:
       staff_id  Unnamed: 6  Unnamed: 7
count  55.00000         0.0         0.0
mean   28.00000         NaN         NaN
std    16.02082         NaN         NaN
min     1.00000         NaN         NaN
25%    14.50000         NaN         NaN
50%    28.00000         NaN         NaN
75%    41.50000         NaN         NaN
max    55.00000         NaN         NaN
******************************

Number of duplicates:
0

# II. Preprocessing the Data

## 2.1 df_customer

In [83]:
# Change the data type of the 'customer_since', 'birthdate' column to datetime
df_customer['customer_since'] = pd.to_datetime(df_customer['customer_since'])
df_customer['birthdate'] = pd.to_datetime(df_customer['birthdate'])

In [84]:
df_customer.head()

,customer_id,home_store,customer_first-name,customer_email,customer_since,loyalty_card_number,birthdate,gender,birth_year
0,1,3,Kelly Key,Venus@adipiscing.edu,2017-01-04,908-424-2890,1950-05-29,M,1950
1,2,3,Clark Schroeder,Nora@fames.gov,2017-01-07,032-732-6308,1950-07-30,M,1950
2,3,3,Elvis Cardenas,Brianna@tellus.edu,2017-01-10,459-375-9187,1950-09-30,M,1950
3,4,3,Rafael Estes,Ina@non.gov,2017-01-13,576-640-9226,1950-12-01,M,1950
4,5,3,Colin Lynn,Dale@Integer.com,2017-01-15,344-674-6569,1951-02-01,M,1951

## 2.2 df_dates

In [85]:
# Change the data type of the 'transactions_date' column to datetime
df_dates['transaction_date'] = pd.to_datetime(df_dates['transaction_date'])

## 2.3 df_pastry

In [86]:
# Change the data type of the 'transactions_date' column to datetime
df_pastry['transaction_date'] = pd.to_datetime(df_pastry['transaction_date'])

# Change the data type of the '% waste' column to int64
df_pastry['% waste'] = df_pastry['% waste'].str.rstrip('%').astype('int64')

## 2.4 df_product

In [87]:
# Change the data type of the 'current_price' column to float64 and add a new column measure in USD
df_product['current_retail_price'] = df_product['current_retail_price'].str.lstrip('$').astype('float64')
df_product['metric'] = df_product['current_retail_price'].apply(lambda x: f"{x:.2f} USD")

In [88]:
columns = df_product[['tax_exempt_yn', 'promo_yn', 'new_product_yn']]
for cols in columns:
    print(pd.Series(df_product[cols]).value_counts())

tax_exempt_yn
Y    72
N    16
Name: count, dtype: int64
promo_yn
N    84
Y     4
Name: count, dtype: int64
new_product_yn
N    86
Y     2
Name: count, dtype: int64

## 2.5 df_sales_targets

In [89]:
# Split 'year_month' into 'year' and 'month' columns
def extract_month_year(date_str):
    # Parse using datetime, assuming the format 'MMM-YY'
    parsed_date = datetime.strptime(date_str, '%b-%y')
    
    # Extract month as an integer
    month = parsed_date.month
    # Extract year (adding 2000 to handle two-digit years correctly)
    year = parsed_date.year

    return month, year

# Apply the function to each date string and create new columns
df_sales_targets[['Date_ID', 'Year_ID']] = df_sales_targets['year_month'].apply(lambda x: pd.Series(extract_month_year(x)))

df_sales_targets.drop('year_month', axis=1, inplace=True)

In [90]:
df_sales_targets.head()

,sales_outlet_id,beans_goal,beverage_goal,food_goal,merchandise _goal,total_goal,Date_ID,Year_ID
0,3,720,13500,3420,360,18000,4,2019
1,4,720,13500,3420,360,18000,4,2019
2,5,1000,18750,4750,500,25000,4,2019
3,6,720,13500,3420,360,18000,4,2019
4,7,720,13500,3420,360,18000,4,2019

## 2.6 df_staff

In [91]:
# drop 2 useless columns
df_staff.drop(['Unnamed: 6', 'Unnamed: 7'], axis=1, inplace=True)

# Change the data type of the 'start_date' column to datetime
df_staff['start_date'] = pd.to_datetime(df_staff['start_date'])

In [92]:
df_staff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   staff_id    55 non-null     int64
 1   first_name  55 non-null     object
 2   last_name   55 non-null     object
 3   position    55 non-null     object
 4   start_date  55 non-null     datetime64[ns]
 5   location    55 non-null     object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 2.7+ KB

# II. Save Data

In [93]:
import os
import pandas as pd

def save_dataframes_to_csv_files(dataframes_dict, output_dir):
    # Ensure the output directory exists
    os.makedirs(output_dir, exist_ok=True)

    # Loop through the DataFrame dictionary
    for table_name, df in dataframes_dict.items():
        # Define the output .csv file path
        csv_file_path = os.path.join(output_dir, f"{table_name}.csv")
        
        # Write the DataFrame to a CSV file
        df.to_csv(csv_file_path, index=False)

    print(f"Data successfully saved to .csv files in {output_dir}")

# Example of your preprocessed dataframes
dataframes_dict = {
    'staff': df_staff,
    'sales_outlet': df_sales_outlet,
    'sales_targets': df_sales_targets,
    'product': df_product,
    'pastry_inventory': df_pastry,
    'generations': df_generations,
    'dates': df_dates,
    'customer': df_customer
}

# Specify the output directory
output_dir = r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Preprocessing Data"

# Call the function to save each DataFrame as its own .csv file
save_dataframes_to_csv_files(dataframes_dict, output_dir)

Data successfully saved to .csv files in D:\GitHub\UEL-Course\MLBA\final_project\Data\Preprocessing Data

In [95]:
import pandas as pd
import sqlite3
import os


def csv_to_sqlite(dataframes_dict, output_dir, sqlite_file):
    # Connect to SQLite database
    conn = sqlite3.connect(sqlite_file)
    
    # Loop through the DataFrame dictionary
    for table_name, csv_file in dataframes_dict.items():
        # Define the CSV file path
        csv_file_path = os.path.join(output_dir, f"{csv_file}.csv")
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv(csv_file_path)
        
        # Write the DataFrame to the SQLite database
        df.to_sql(table_name, conn, if_exists='replace', index=False)
    
    # Close the SQLite connection
    conn.close()
    
    print(f"Data successfully converted to SQLite database at {sqlite_file}")



# Dictionary mapping table names to CSV filenames
dataframes_dict = {
    'staff': 'staff',
    'sales_outlet': 'sales_outlet',
    'sales_targets': 'sales_targets',
    'product': 'product',
    'pastry_inventory': 'pastry_inventory',
    'generations': 'generations',
    'dates': 'dates',
    'customer': 'customer'
}

# Specify the output directory containing the CSV files
output_dir = r"D:\GitHub\UEL-Course\MLBA\final_project\Data\Preprocessing Data"

# Specify the path for the SQLite database
sqlite_file = r"D:\GitHub\UEL-Course\MLBA\final_project\Data\database.sqlite"

# Call the function to convert each CSV to a table in the SQLite database
csv_to_sqlite(dataframes_dict, output_dir, sqlite_file)

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\GitHub\\UEL-Course\\MLBA\\final_project\\Data\\Preprocessing Data\\staff.csv'

In [98]:
!pip install sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

# Create a connection to a SQLite database in memory
engine = create_engine('sqlite://', echo=False)

# Assuming you have your DataFrames named like this
dataframes = {
    'staff': df_staff,
    'sales_outlet': df_sales_outlet,
    'sales_targets': df_sales_targets,
    'product': df_product,
    'pastry_inventory': df_pastry,
    'customer': df_customer
}

# Export each DataFrame to the SQL database
for table_name, df in dataframes.items():
    df.to_sql(table_name, con=engine, index=False, if_exists='replace')

# Function to convert SQLite SQL to MySQL SQL
def sqlite_to_mysql(sqlite_sql):
    mysql_sql = sqlite_sql.replace('INTEGER', 'INT').replace('TEXT', 'VARCHAR(255)')
    return mysql_sql

# Write the SQL dump to a file
with open('mysql_dump.sql', 'w') as f:
    for table_name in dataframes:
        sqlite_sql = f"\n-- SQL for {table_name} table\n"
        sqlite_sql += pd.io.sql.get_schema(engine, table_name, keys='id', con=engine)
        sqlite_sql = sqlite_to_mysql(sqlite_sql) + ";\n\n"
        
        # Append data insert statements
        data_sql = ''
        for _, row in dataframes[table_name].iterrows():
            values = ', '.join([f"'{item}'" if isinstance(item, str) else str(item) for item in row])
            data_sql += f"INSERT INTO {table_name} VALUES ({values});\n"
        
        # Write to file
        f.write(sqlite_sql + data_sql)

Requirement already satisfied: sqlalchemy in c:\users\thanh\appdata\local\programs\python\python312\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\thanh\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\thanh\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)

AttributeError: 'Engine' object has no attribute 'columns'